Assignment 8/fake-news/.ipynb_checkpoints/train-checkpoint.csv
Assignment 8/fake-news/.ipynb_checkpoints/test-checkpoint.csv
Assignment 8/fake-news/.ipynb_checkpoints/submit-checkpoint.csv
Assignment 8/.ipynb_checkpoints/IT550_IR_Assignment8-checkpoint.ipynb
Assignment 8/.ipynb_checkpoints/Assignment_8-checkpoint.pdf
Assignment 7/.vscode/settings.json
Assignment 7/.ipynb_checkpoints/IT550_IR_Assignment7-checkpoint.ipynb
Assignment 7/.ipynb_checkpoints/Assignment7-checkpoint.pdf
Assignment 2/business.zip
Text Stemming Approaches, Applications, and Challenges.pdf
Screenshot (64).png
Screenshot (40).png
Screenshot (39).png
Screenshot (38).png
Screenshot (37).png
